.container {
  max-width: 1440px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calculator {
  background-color: #c5e4e7;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.calculator__text {
  text-align: center;
  margin-bottom: 50px;
}

.calculator__title {
  letter-spacing: 10px;
  font-size: 32px;
  color: #00494d;
}

.calculator__box {
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 778px) {
  .calculator__box {
    justify-content: center;
    max-width: 320px;
    gap: 20px;
  }
}

.calculator__bill {
  position: relative;
  margin-bottom: 30px;
}

.calculator__bill span::before {
  content: '';
  position: absolute;
  background-image: url("./images/icon-dollar.svg");
  width: 11px;
  height: 17px;
  top: 35px;
  left: 15px;
}

.calculator__people {
  position: relative;
}

.calculator__people span::before {
  content: '';
  position: absolute;
  background-image: url("./images/icon-person.svg");
  width: 13px;
  height: 16px;
  top: 35px;
  left: 15px;
}

.calculator__left {
  max-width: 355px;
}

.calculator__inputs-title {
  font-size: 12px;
  color: #5e7a7d;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.calculator__input {
  direction: rtl;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  background-color: #f4fafa;
  padding: 10px;
}

.calculator__input:focus {
  background-color: #f4fafa;
  outline: 2px solid #26c0ab;
}

.calculator__input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 778px) {
  .calculator__input-box {
    justify-content: center;
  }
}

.calculator__input-procent {
  cursor: pointer;
  padding: 10px 20px;
  width: 28%;
  background-color: #00494d;
  border-radius: 6px;
  color: white;
  text-align: center;
}

@media (max-width: 778px) {
  .calculator__input-procent {
    width: 40%;
  }
}

.calculator__input-procent--active {
  color: #00494d;
  background-color: #26c0ab;
  outline: none;
}

.calculator__input-custom {
  cursor: text;
  color: #7f9c9f;
  background-color: #f4fafa;
}

.calculator__input-custom:focus {
  background-color: #f4fafa;
  outline: 2px solid #26c0ab;
}

.calculator__procent {
  margin-bottom: 30px;
}

.calculator__right {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  justify-content: space-between;
  padding: 30px;
  background-color: #00494d;
  border-radius: 8px;
}

@media (max-width: 778px) {
  .calculator__right {
    row-gap: 30px;
  }
}

.calculator__summary-text {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}

.calculator__summary-p {
  font-size: 14px;
  color: white;
}

@media (max-width: 778px) {
  .calculator__summary-p {
    font-size: 12px;
  }
}

.calculator__summary-p span {
  font-size: 12px;
  color: #c5e4e7;
}

@media (max-width: 778px) {
  .calculator__summary-p span {
    font-size: 10px;
  }
}

.calculator__summary-h1 {
  color: #26c0ab;
}

@media (max-width: 778px) {
  .calculator__summary-h1 {
    font-size: 25px;
  }
}

.calculator__reset {
  cursor: pointer;
  padding: 10px 0;
  border-radius: 8px;
  color: #00494d;
  background-color: #26c0ab;
}

.calculator__reset:disabled {
  cursor: not-allowed;
  background-color: #015e65;
}

.tip-amount {
  margin-bottom: 30px;
}
